body{
    display:block;
    border: 2px solid black;
    border-spacing: red;
    
    
}
div{
   display: inline-block;
    border: 2px dotted green;
    background-color: aqua;

   
}
p{
    border: 1px solid red;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;

}